/* body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: inherit;
    justify-content: center;
    width: 100%;
    align-items: center;
} */

.screen-con{
    justify-content: center;
    display: flex;
}
#screen{
    background-color: rgb(83, 83, 83);
    color: rgb(252, 252, 252);
    text-align: right;
    border-radius: 0px;
    padding: 13px;
    font-size: 32px;
    overflow: auto;
    margin: 0px;
    width: 170px;
}
.wrapper{
    text-align: center;
    width: 100%;
    margin: 1.5rem;
    text-align: center;
    border: 1px solid lightgray;
    box-shadow: 0 0 0.25rem gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
}

.btt-row{
    display: flex;
    justify-content: center;

}  

.btt-number{
    width: 50px;
    height: 50px;
    border: 0.1px solid rgb(45, 45, 45);
    margin: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(62, 62, 62, 0.624);
}

.btt-operator{
    width: 50px;
    height: 50px;
    border: 0.1px solid rgb(45, 45, 45);
    margin: 0px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 154, 11);
}
.btt-none{
    width: 50px;
    height: 50px;
    border: 0.1px solid rgb(45, 45, 45);
    margin: 0px;
    font-size:25px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 94, 94);
}
.btt-clear{
    width: 50px;
    height: 50px;
    border: 0.1px solid rgb(45, 45, 45);
    margin: 0px;
    font-size:25px;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 94, 94);
}

.btt-dot{
    width: 50px;
    height: 50px;
    border: 0.1px solid rgb(45, 45, 45);
    margin: 0px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgba(62, 62, 62, 0.624);
}

.btt-equal{
    width: 50px;
    height: 50px;
    border: 0.1px solid rgb(45, 45, 45);
    margin: 0px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 154, 11);
}

.btt-zero{
    width: 100px;
    height: 50px;
    border: 0.1px solid rgb(45, 45, 45);
    margin: 0px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgba(62, 62, 62, 0.624);
}

.btt-number:hover{
    background-color: rgb(174, 174, 174);
    color: rgb(222, 222, 222);
}

.btt-operator:hover{
    background-color: rgba(255, 149, 0, 0.624);
    color: rgb(222, 222, 222);
}

.btt-none:hover{
    background-color: rgba(94, 94, 94, 0.888);
    color: rgb(222, 222, 222);
}

.btt-dot:hover{
    background-color: rgb(174, 174, 174);
    color: rgb(222, 222, 222);
}

.btt-equal:hover{
    background-color: rgba(255, 149, 0, 0.624);
    color: rgb(222, 222, 222);
}

.btt-zero:hover{
    background-color: rgb(174, 174, 174);
    color: rgb(222, 222, 222);
}

.btt-clear:hover{
    background-color: rgba(94, 94, 94, 0.888);
    color: rgb(222, 222, 222);
}

.btt-number:active{
    background-color: rgba(100, 100, 100, 0.402);
    color: rgb(255, 255, 255);
}

.btt-equal:active{
    background-color: rgba(255, 149, 0, 0.88);
    color: rgb(222, 222, 222);
}

.btt-operator:active{
    background-color: rgba(255, 149, 0, 0.88);
    color: rgb(222, 222, 222);
}

.btt-clear:active{
    background-color: rgba(94, 94, 94, 0.599);
    color: rgb(222, 222, 222);
}

.btt-zero:active{
    background-color: rgba(100, 100, 100, 0.402);
    color: rgb(222, 222, 222);
}
.btt-dot:active{
    background-color: rgba(100, 100, 100,0.402);
    color: rgb(222, 222, 222);
}

.btt-none:active{
    background-color: rgba(100, 100, 100,0.402);
    color: rgb(222, 222, 222);
}
