

.component-container {
  border: 1px solid lightgray;
  box-shadow: 0 0 0.25rem gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: auto;
    background-image: url('/src/assets/stone-wall.avif');
    background-position: center;
    text-align: center;
  }
  
  .in-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    z-index: 1;
  }