.addtemp-container{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1.5rem;
    background-color: #ffff;
}
.addtemp-variables{
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
}
.temp-h2{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}


