.title{
    color: rgb(165, 0, 0);
    font-size: x-large;
    text-align: center;
    
    
}

.value-temp{
    font-size: x-large;
    margin: 0 0.5rem;
}

.container-temp{
    background-color: rgba(173, 173, 173, 0.313);
    width: 100%;
}

.button-container button{
    width: 2.5rem;
    height: 3.5rem;
    font-size: x-large;
    border: none;
    cursor: pointer;
}



