.home-container{
    border: 1px solid lightgray;
    box-shadow: 0 0 0.25rem gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.img-me{
    background-image: url(../../../assets/me.jpg);
    background-position: center;
    background-size: 100%;
    height: 300px;
    width: 300px;
    border: 1px solid;
    border-radius: 50%;
    margin: 1.5rem;
    
}
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.left-side{
    text-align: center;
    margin: 0.5rem;
}

.right-side{
    text-align: center;
    margin: 0.5rem;
}